/* <main class="container">
<section class="new-tweet">
    <h2>Compose Tweet</h2>
    <form>
      <textarea name="text" placeholder="What are you humming about?"></textarea>
      <input type="submit" value="Tweet">
      <span class="counter">140</span>
    </form>
  </section>
</main> */

.new-tweet{
    background-color: rgb(238, 236, 236);
    margin: 2em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

textarea {
    width: 100%;
    height: 60px;
}

.counter {
    float: right;
    padding-right: 10px;
}

h2 {
    border-bottom: 1px solid black;
    margin-top: 5px;
}